<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654933660611-7u3vpd1naib0isahtbd6ee6g3bijhf96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654933660611-7u3vpd1naib0isahtbd6ee6g3bijhf96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>654933660611-lf3dpqttvob8kqpvtted3ssdp7vsgqjo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHN8w20bv_tZE5omEGEWHgIoGmcZeLyKw</string>
	<key>GCM_SENDER_ID</key>
	<string>654933660611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homitag.app</string>
	<key>PROJECT_ID</key>
	<string>homitag-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>homitag-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654933660611:ios:62e19c188db5f1047d2376</string>
	<key>DATABASE_URL</key>
	<string>https://homitag-dev.firebaseio.com</string>
</dict>
</plist>